[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "7c287c65dd459f921a04c78e3f294d1e31cd7a18"}
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
