[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules", editable = true, ref = "v0.2.3"}
requests = "*"
pytz = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
