[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "ssh://git@github.com/AfricasVoices/CoreDataModules.git", editable = true, ref = "89b7c53eca4406d64a59a938727d5d3b37636f99"}
requests = "*"
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "3.6"
